body {
    background-color: white;
    font-family: arial, helvetica, sans-serif;
    color: black;
}

main{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}


header {
    text-align: center;
    color: white;
    background-color: navy;
}

#page-title {
    font-weight: lighter;
}
header h1 {
    color: white;
    font-family: arial;
    font-size: 36px;
}

#imagem {
    text-align: center;
}

h2 {
    color: blue;
    font-family: sans-serif;
    font-size: 25px;
}

h3 {
    color: #4C7EC1;
    font-family: sans-serif;
    font-size: 20px;
}

#jornada p {
    font-size: 20px;
}


#hobbies ul {
    font-size: 20px;
}

.hobbies-itens {
    font-weight: lighter;
}

#metas ol {
     font-size: 20px;
}

footer p {
    font-family: sans-serif;
    font-size: 15px;
}

footer a{
    font-size: 17px;
    text-decoration: none;
}